# Port number for the Express server to listen on
PORT=5000

# MongoDB Connection URI (replace with your local or MongoDB Atlas connection string)
MONGO_URI=mongodb://127.0.0.1:27017/mern_db

# Environment mode (development or production)
NODE_ENV=development
